body {
    color: rgb(12, 12, 12);
    background-color: #a279bd;
}

section.sidebar {
    background-color: #b6c7e7;
    font-weight: bold;
}

.sidebar .sidebar-content {
    background-image: linear-gradient(180deg,#b6c7e7,#fafafa);
}

.main {
    font-weight: bold;
}

div.st-bc:nth-child(1) {
    background-color: darkgrey; 
    font-weight: bold;
}

ul.st-bu {
    color:rgb(12, 12, 12);
    /*background-color: darkgrey;*/
    font-weight: bold;
}

.Widget > label {
    font-size: 1.5rem;
}

.streamlit-button.primary-button {
    font-weight: bold;
}

/* .st-dd {
    flex-direction: row;
} */

.small-button {
    background-color: darkcyan;
}

/* img {
    border: 0 none;
    display: inline;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  } */

img.rec_movie
{
    width: 200px;
    height: 200px;
}

img.cast
{
    width: 120px;
    height: 120px;
}

li{
display: inline-block;
/* list-style-type: none; */
}